@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Start Variables */
:root {
  --main-color: #3cab90;
  --seondary-color: #ffbb1c;
  --primary-color: #475467;
  --yellow-btn-hover: #e3a105;
  --main-transition-duration: 0.3s;
  --main-font-size: 42px;
  --main-padding: 80px;
  --seconadry-padding: 160px;
}
/* End Variables */

/* Start Global Rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start Components */

.card:hover a.view i {
  animation: go-right 0.5s infinite;
  -webkit-animation: go-right 0.5s infinite;
}

.card {
  cursor: pointer;
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
  -ms-transition: var(--main-transition-duration);
  -o-transition: var(--main-transition-duration);
}
.card:hover {
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
}

/* Start Animations */
@keyframes go-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* End Animations */

/* End Components */

/* Start Header */

header {
  background-color: #0b9586;
  color: #ffffff;
}

header nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .logo {
  mix-blend-mode: multiply;
}
header nav .navbar-container {
  width: 50%;
}
header nav .links-container {
  width: 100%;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  li {
    font-size: 18px;
    font-weight: 300;
    &.active,
    &:hover {
      background-color: #0a8c7e;
      box-shadow: 0 5px 0 #076258;
      padding: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
      padding-right: 20px;
      padding-left: 20px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
    &:last-child {
      margin-right: 1.5rem;
    }
    a {
      padding: 10px;

      color: white;
    }
  }
}
header nav .icon {
  display: none;

  font-size: 30px;
  cursor: pointer;
}

.navbar-container {
  display: flex;
  position: relative;
  gap: 0.5rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
}

header nav .contact {
  text-align: right;
}

header nav .contact .text {
  font-size: 18px;
  font-weight: 300;
}
header nav .contact .number {
  font-weight: bold;
  font-size: clamp(15px, 19px, 23px);
}

@media (max-width: 767px) {
  header nav .icon {
    display: block;
  }
  .links-container {
    overflow: hidden;
  }
  header nav ul {
    opacity: 0;
    flex-direction: column;
    position: absolute;
    top: -120px;
    li {
      padding: 5px;
      &:last-child {
        margin-right: 0;
      }
      a {
        padding: 10px;
        display: none;
      }
    }
  }
  header nav ul.clicked {
    position: relative;
    opacity: 1;
    top: 0px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    a {
      display: block;
    }
  }
}
/* End Header */

/* Start First Section */
.first-section {
  background-image: url(imgs/solar-panels-meadow\ 1.png);
  color: white;
  background-size: cover;
}
.first-section .container {
  padding-top: var(--main-padding);
  padding-bottom: var(--seconadry-padding);
}
.first-section .info {
  padding-top: 70px;
}
.first-section .info h1 {
  font-size: 52px;
  margin-bottom: 18px;
  font-weight: 600;
}
.first-section .info p {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.8;
}
.first-section .info .btns {
  gap: 20px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.first-section .info .btns .call {
  background-color: var(--main-color);
  cursor: pointer;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  transition: var(--main-transition-duration);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
  -ms-transition: var(--main-transition-duration);
  -o-transition: var(--main-transition-duration);
}

.first-section .info .btns .call:hover {
  background-color: #1c8168;
}
.first-section .info .btns .request {
  background-color: var(--seondary-color);
  cursor: pointer;
  color: #2a3334;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  transition: var(--main-transition-duration);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
  -ms-transition: var(--main-transition-duration);
  -o-transition: var(--main-transition-duration);
}
.first-section .info .btns .request:hover {
  background-color: var(--yellow-btn-hover);
}

@media (max-width: 767px) {
  .first-section {
    text-align: center;
  }
  .first-section .btns {
    align-items: center;
    justify-content: center;
  }
}
/* End First Section */

/* Start Second Section */
.second-section {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.second-section .container {
  display: flex;
  justify-content: space-between;
}

.second-section .info {
  width: 50%;
}
.second-section .info > h2 {
  margin-bottom: 25px;
  font-size: var(--main-font-size);
}
.second-section .info > p {
  color: var(--primary-color);
  line-height: 1.5;
}
.second-section .info .table {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.second-section .info .table .row {
  display: flex;
}
.second-section .info .table .row h3 {
  font-weight: 600;
}
.second-section .info .table .row {
  .icon {
    margin-right: 13px;
  }
  &:first-child .icon {
    margin-right: 10px;
  }
}
.second-section .info .table .row .icon img {
  display: inline;
}
.second-section .images {
  width: 48%;
  position: relative;
}
.second-section .images .yellow-image {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 10%;
}

.second-section .images .rectangle-image {
  position: relative;
  left: 10%;
}

@media (max-width: 600px) {
  .second-section .table {
    align-items: normal;
  }
}

@media (max-width: 768px) {
  .second-section .table {
    align-items: center;
  }
}

@media (max-width: 922px) {
  .second-section .images {
    display: none;
  }
  .second-section .info {
    text-align: center;
    width: 100%;
  }
}

/* End Second Section */

/* Start Third Section */
.third-section {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-image: url("./imgs/8116 1.png");
  background-size: cover;
  color: white;
}
.third-section .container {
  margin-top: 60px;
  margin-bottom: 60px;
}
.third-section .text h2 {
  margin-bottom: 35px;
  font-size: var(--main-font-size);
}

.third-section .text p {
  margin-bottom: 35px;
}
.third-section .btn {
  background-color: var(--seondary-color);
  width: fit-content;
  cursor: pointer;
  color: #2a3334;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  transition: var(--main-transition-duration);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
  -ms-transition: var(--main-transition-duration);
  -o-transition: var(--main-transition-duration);
}
.third-section .btn:hover {
  background-color: var(--yellow-btn-hover);
}

@media (max-width: 767px) {
  .third-section .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* End Third Section */

/* Start Fourth Section */

.fourth-section {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}

.fourth-section .text {
  text-align: center;
}

.fourth-section .text h2 {
  font-size: var(--main-font-size);
}
.fourth-section .text p {
  margin-top: 40px;
  color: var(--primary-color);
}

.fourth-section .cards-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  gap: 30px;
}
.fourth-section .cards-container .card {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.06);
}
.fourth-section .cards-container .card .image img {
  width: 100%;
}

.fourth-section .cards-container .card-text {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 20px;
}
.fourth-section .cards-container .card-text p {
  margin-top: 25px;
  color: var(--primary-color);
}

.fourth-section .cards-container .foot {
  padding-left: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.fourth-section .cards-container .foot a {
  color: var(--main-color);
}

.fourth-section .cards-container .foot i {
  color: var(--main-color);
  margin-left: 10px;
}

/* End Fourth Section */

/* Start Fifth Section */

.fifth-section {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-image: url("./imgs/8116\ 1\ \(1\).png");
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
}
.fifth-section .text {
  position: relative;
  width: 50%;
  min-width: 330px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 21;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  backdrop-filter: blur(10px);
}

.fifth-section .text h2 {
  margin-bottom: 40px;
  font-size: var(--main-font-size);
}

/* End Fifth Section */

/* Start Sixth Section */
.sixth-section {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: #fffcf4;
}

.sixth-section .container {
  display: flex;
  gap: 30px;
}

.sixth-section .container .text h2 {
  font-size: var(--main-font-size);
  margin-top: 30px;
}
.sixth-section .container .text p {
  margin-top: 25px;
  font-size: 18px;
  color: var(--primary-color);
}

.sixth-section .container .main-cards-container {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.sixth-section .container .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  gap: 30px;
}

.sixth-section .container .cards-container .cont {
  display: grid;
  gap: 30px;
}

.sixth-section .container .cards-container .card {
  padding: 20px;
  height: fit-content;

  display: flex;
  flex-direction: column;
  background-color: #f5fbf9;
  border: 1px solid #99cfbe;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.sixth-section .container .cards-container .card.byd {
  height: fit-content;
}

.sixth-section .container .cards-container .card .image-container {
  background-color: #d9ece1;
  border-radius: 10px;
}

.sixth-section .container .cards-container .card img {
  width: 100%;
  height: 100%;
  mix-blend-mode: luminosity;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.sixth-section .container .cards-container .card .card-text {
  margin-top: 15px;
}

.sixth-section .container .cards-container .card .card-text h4 {
  font-size: 20px;
  margin-top: 20px;
}
.sixth-section .container .cards-container .card .card-text p {
  margin-top: 15px;
  color: var(--primary-color);
  font-size: 16px;
}
.sixth-section .container .cards-container .card .foot {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.sixth-section .container .cards-container .card .foot a {
  color: var(--main-color);
}
.sixth-section .container .cards-container .card .foot i {
  color: var(--main-color);
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .sixth-section .container {
    display: flex;
    flex-wrap: wrap;
  }
  .sixth-section .container .cards-container {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}
@media (max-width: 768px) {
  .sixth-section .container {
    text-align: center;
  }
  .sixth-section .container .cards-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

/* End Sixth Section */

/* Start Seventh Section */
.seventh-section {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.seventh-section .container .text {
  text-align: center;
  margin-bottom: 30px;
}
.seventh-section .container .text p {
  margin-top: 30px;
  color: var(--primary-color);
  font-size: 18x;
}
.seventh-section .container .text h2 {
  font-size: var(--main-font-size);
}

.seventh-section .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.seventh-section .cards-container .card {
  border: 1px solid #99cfbe;
  padding: 30px;
  background-color: #f5fbf9;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.seventh-section .cards-container .card .card-text h4 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.seventh-section .cards-container .card .card-text p {
  color: var(--primary-color);
  font-size: 16px;
}

/* End Seventh Section */

/* Start Eighth Section */

.eighth-section {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.eighth-section .container {
  display: flex;
  gap: 30px;
}

.eighth-section .container .text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  h2 {
    font-size: var(--main-font-size);
  }
  p {
    font-size: 18px;
  }
}

.eighth-section .container .side-card {
  max-width: 65%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 50px;
  background-color: #f5fbf9;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.eighth-section .container .side-card .body {
  display: flex;
  gap: 40px;
}
.eighth-section .container .side-card .body .side-card-text {
  p {
    margin-bottom: 50px;
    color: var(--main-color);
    font-weight: 600;
  }
  h4 {
    font-weight: 400;
    font-size: clamp(14px, 20px, 24px);
    line-height: 1.7;
  }
}
.eighth-section .container .side-card .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .image {
    margin-right: 7px;
  }
  .info {
    display: flex;
    align-items: center;
    .foot-text {
      gap: 10px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h5 {
        font-weight: bold;
        font-size: 16px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

.eighth-section .container .side-card .body .dots-icon {
  display: flex;
  div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d9d9d9;
    margin-right: 5px;
    &:first-child {
      background-color: #6b6b6b;
    }
  }
}

.eighth-section .container .side-card .foot .arrows {
  display: flex;
  .right,
  .left {
    cursor: pointer;
    width: 48px;
    height: 48px;
    position: relative;
    border: 1px solid black;
    border-radius: 50%;
    transition: var(--main-transition-duration);
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    &::after,
    &::before {
      content: "";
      position: absolute;
      background-color: black;
      width: 40%;
      height: 2px;
    }
    &:hover {
      border: 1px solid #99cfbe;
    }
  }

  .left {
    margin-right: 15px;
    &::after {
      top: 60%;
      left: 30%;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
    }
    &::before {
      top: 34%;
      left: 31%;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
    }
  }
  .right {
    &::after {
      top: 38%;
      left: 33%;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
    }
    &::before {
      top: 63%;
      left: 33%;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
    }
  }
}

@media (max-width: 992px) {
  .eighth-section .container {
    flex-wrap: wrap;
  }
  .eighth-section .container .text {
    text-align: center;
    flex-grow: 1;
  }

  .eighth-section .container .side-card {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .eighth-section .container {
    flex-wrap: wrap;
  }

  .eighth-section .container .side-card .body .dots-icon {
    display: none;
  }
  .eighth-section .container .side-card .foot {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}

/* End Eighth Section */

/* Start Footer */
footer {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: #283646;
}

footer .top-part {
  display: flex;
  justify-content: space-between;
}
footer .top-part .left-side,
footer .top-part .right-side {
  flex-grow: 1;
}
footer .top-part .left-side .logo {
  margin-bottom: 40px;
  background-color: #d9e7f7;
  width: fit-content;
  img {
    mix-blend-mode: luminosity;
  }
}
footer .top-part .left-side .links ul {
  display: flex;
  gap: 40px;

  a {
    font-weight: 200;
    font-size: 16px;
    color: white;
    &:hover {
      color: #ffffff9c;
    }
  }
}

footer .top-part .right-side span {
  display: block;
  color: white;
}
footer .top-part .right-side form {
  width: 100%;
  display: flex;
  position: relative;
}

footer .top-part .right-side input {
  padding: 15px;
  border: 1px solid #5f6b79;
  background-color: #3b4857;
  color: white;
  flex-grow: 1;
  outline: none;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 16px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
footer .top-part .right-side button {
  position: absolute;
  right: 0;
  top: 50px;
  font-size: 16px;
  cursor: pointer;
  padding: 15px;
  cursor: pointer;
  border: 1px solid var(--seondary-color);
  color: white;
  background-color: var(--seondary-color);
  outline: none;
  transition: var(--main-transition-duration);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
  -ms-transition: var(--main-transition-duration);
  -o-transition: var(--main-transition-duration);
}

footer .top-part .right-side button:hover {
  background-color: var(--yellow-btn-hover);
  border-color: var(--yellow-btn-hover);
}

footer hr {
  margin-top: 60px;
  margin-bottom: 60px;

  border: 1px solid #3c4855;
}

footer .bottom-part {
  color: #646e78;
  display: flex;
  justify-content: space-between;
}

footer .bottom-part ul {
  display: flex;
  li {
    margin-right: 20px;
    margin-left: 20px;

    &:first-child {
      margin-left: 0px;
    }
  }
}

@media (max-width: 992px) {
  footer .top-part {
    flex-wrap: wrap;
  }
  footer .top-part .left-side {
    width: 100%;
  }
  footer .bottom-part {
    flex-wrap: wrap;
    gap: 40px;
  }
  footer .top-part .newsletter {
    display: flex;
    flex-direction: column-reverse;
  }
  footer .top-part ul {
    flex-direction: column;
  }
  footer .top-part .right-side button {
    margin-top: 50px;
  }
  footer .bottom-part .menu ul span {
    display: none;
  }
  footer .top-part .right-side button {
    top: 0;
  }

  footer .top-part .left-side .links ul {
    gap: 20px;
  }
  footer .bottom-part .menu ul {
    flex-direction: column;
    gap: 20px;
    li {
      margin: 0;
    }
  }
}
/* End Footer */
